[Desktop Entry]
Name=VS Code with 1.25 scale
Comment=Code Editing with 1.25 scale
Exec=code --force-device-scale-factor=1.25 %F
Icon=vscode
Type=Application
Categories=TextEditor;Development;IDE;
StartupNotify=false
Terminal=false
Keywords=vscode;
